@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  padding: 0;
  font: inherit;
  border: none;
  cursor: pointer;
}

.scroll-containerCl::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.scroll-containerCl {
  scrollbar-width: none; /* Firefox */
}

.imageFadeCl {
  /* transition: opacity 0.25s ease-in-out; */
  transition: transform 0.25s linear, opacity 0.25s linear;

  /* position: absolute;
  top: 0;
  left: 100%;
  transition: transform 0.25s linear; */
}

/* .imageVisible {
  transform: translateX(-100%);
} */

.imageHiddenCl {
  /* opacity: 0; */
  transform: rotateY(90deg);
  opacity: 0;
  /* transform: translateX(100%); */
  /* opacity: 0; */
}

/* .checkboxCl:hover + * .iconCheckWrapCl,
.checkboxCl:hover + * .iconCheckWrapCl {
  border-color: #facc15;
} */

/* .checkboxCl:checked + * .iconCheckWrapCl {
  border-color: transparent;
  box-shadow: none;
  background-color: #b809c3;
  color: #ffffff;
} */

@layer base {
  /* body {
    margin: 0;
    font-size: 14px;
    color: rgb(41 37 36);
  } */
}

@layer components {
  /* .section {
    @apply flex items-center justify-center;
  } */

  .mainTitleCl {
    @apply mb-5 font-roboto font-medium text-sm sm:text-base lg:text-8xl leading-tight text-white;
  }
  .mainDescriptionCl {
    @apply mb-5 font-roboto text-sm sm:text-base lg:text-5xl leading-7 text-white;
  }
  .titleCl {
    @apply mb-5 font-semibold text-5xl leading-tight text-stone-950;
  }
  .subTitleCl {
    @apply mb-6 font-semibold text-3xl leading-relaxed text-customTeal;
  }
  .descriptionCl {
    @apply mb-5 xl:text-[18px] tracking-wide text-stone-800 leading-10;
  }
  .inputsCl {
    @apply w-full py-4 px-5 border-none 
    bg-neutral-100 focus:outline focus:outline-2 focus:outline-yellow-400
    rounded-3xl;
  }
  .errorWrapperCl {
    @apply flex items-center h-8 pt-2 pb-4 px-5 text-s leading-5 text-red-900;
  }
  .checkboxCl {
    @apply sr-only;
  }
  .labelCheckCl {
    @apply flex items-center mb-8 text-xs cursor-pointer;
  }
  .iconCheckWrapCl {
    @apply flex justify-center items-center mr-4 w-7 h-6 text-neutral-100 bg-neutral-100 border border-solid border-customTeal-accent rounded-md shadow-[0px_3px_4px_rgba(211,211,211,0.25)] cursor-pointer transition-all group-hover:border-yellow-400 group-focus:border-yellow-400;
  }
  .iconCheckCl {
    @apply inline-block w-5 h-5  transition-all;
  }

  /* .imageFadeCl {
    @apply transition-opacity duration-500;
  } */
}

@layer utilities {
  .peer:checked + .labelCheckCl .iconCheckWrapCl {
    @apply bg-customTeal border-neutral-100
    shadow-none;
  }
}

/* .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
} */

/* .no-scroll {
  overflow: hidden;
} */
